body {
    background: url('/assets/images/bg.jpg') fixed 100%;
}
a {
    text-decoration: none;
}
a:hover,
a:focus {
	color: #BF282D;
}
.logo {
	display: inline-block;
	width: 230px;
}
.logo a {
	margin-top: 10px;
	display: block;
}
.logo img {
	max-width: 100%;
	height: auto;
}
.logo p,
.logo h1 {
	text-align: center;
    font-size: 12px;
    margin-bottom: 0;
    margin-top: 0;
}
.logo a {
    color: #333;
    text-decoration: none;
}
.menu {
	display: inline-block;
}
.menu-login,
.menu-account {
	display: block;
    padding: 10px 0;
    text-align: right;
}
.menu-login a,
.menu-account a {
	color: #333;
	text-decoration: none;
}
.menu-login a:hover,
.menu-login a:focus,
.menu-account a:hover,
.menu-account a:focus {
	color: #BF282D;
}
.menu-account span,
.menu-login span {
    margin-left: 5px;
    margin-right: 5px;
}
a.signin {
	
}
a.signup {
	
}
.navbar-toggle {
    margin-right: 0;
}
.navbar-default {
	background: transparent;
	border: none;
	margin-bottom: 0;
}
.margintop {
    margin-top: 15px;
}
.divider {
    border-bottom: 1px solid #ccc;
    clear: both;
    display: block;
}
.navbar-nav {
	
}
.navbar-nav > li > a {
	color: #484848;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}
.navbar-default .navbar-nav > li > a.active,
.navbar-default .navbar-nav > li > a.active:focus,
.navbar-default .navbar-nav > li > a.active:hover {
	background-color: transparent;
	color: #333;
}
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
	background-color: transparent;
    color: #BF282D;
}
.navbar-default .navbar-nav > li > a {
    color: #bf282d;
    padding: 10px 15px;
}
.navbar-nav > li > a {
	
}
.navbar-right {
	margin-right: 0;
}

ul.nav-type {
    display: inline-block;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 0;
}
ul.nav-type li {
    display: inline-block;
    list-style: none;
}
ul.nav-type li a {
    color: #777;
    margin-right: 10px;
    text-transform: none;
}
ul.nav-type li a:hover,
ul.nav-type li a:focus,
ul.nav-type li a.active {
    color: #bf282d;
}

.main {
	background: #fff none repeat scroll 0 0;
    padding-left: 10px;
    padding-right: 10px;
}

/*search*/
.search {
    text-align: right;
    width: auto;
}
.search form {
    position: relative;
    width: 200px;
    display: inline-block;
}
.search input[type=text] {
    border-color: -moz-use-text-color -moz-use-text-color #888;
    border-radius: 0;
    border-style: none none solid;
    border-width: 0 0 1px;
    height: 30px;
    letter-spacing: 1px;
    margin-bottom: 5px;
    max-width: 100%;
    padding: 5px;
    width: 100%;
    
    /*border: 1px solid #ccc;
    border-radius: 5px;
    height: 30px;
    letter-spacing: 1px;
    margin-bottom: 5px;
    max-width: 100%;
    padding: 5px;
    width: 100%;*/
}
.search input[type=submit] {
    background: rgba(0, 0, 0, 0) url("../images/search-icon.png") no-repeat scroll center center;
    border: medium none;
    font-size: 0;
    height: 30px;
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
}

.top-bar {
	border-bottom: 1px solid #ccc;
}

.highlight {
	margin-top: 10px;
	margin-bottom: 10px;
}
a.highlight-item {
	margin-bottom: 6px;
	display: block;
	position: relative;
}
a.highlight-item img {
    width: 100%;
    height: auto;
    max-width: 100%;
}
a.highlight-item p,
a.highlight-item h2 {
	background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
    bottom: 0;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    height: 50px;
    margin: 0;
    padding: 10px;
    position: absolute;
    vertical-align: middle;
    width: 100%;
    z-index: 9;
}
a.highlight-item p span {

}


.related {
    background: #474749;
}
.related:first-child {
    margin-top: 20px;
}
.related > h3 {
    border-top: 3px solid #bf282d;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0;
    padding: 10px 5px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 0;
} 
.related > ul {
    padding: 0;
    margin: 0;
}
.related > ul li {
    list-style: none;
    border-top: 1px solid #888;
}
.related > ul li a {
    color: #fff;
    display: block;
    font-size: 12px;
    margin-bottom: 0;
    padding: 5px;
    text-decoration: none;
}
.related > ul li:first-child a {
    margin-bottom: 10px;
    padding: 0;
}
.related > ul li a img {
    height: auto;
}
.related > ul li a.highlight-item p {
    font-size: 12px;
    height: auto;
    padding: 5px;
    width: 100%;
}
.related > ul li a.highlight-item p.color-rgba-1 {
    background: rgba(48, 148, 94, 0.75);
}
.related > ul li a.highlight-item p.color-rgba-2 {
    background: rgba(159, 147, 39, 0.75);
}


/*trang chi tiet game tai ve*/
.web_avatar {
    width: 15%;
    padding: 0 15px;
    display: inline-block;
    vertical-align: top;
}
.web_title {
    width: 83%;
    padding: 0 15px 0 0;
    vertical-align: top;
    display: inline-block;
}
.detail {
    margin-top: 15px;
    margin-bottom: 15px;
}
.detail img,
.detail table {
    max-width: 100%;
    height: auto;
}
.detail iframe {
    max-width: 100%;
}
.center {
    text-align: center;
}
.adsense {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
.adsense img,
.adsense ins,
.adsense iframe {
    max-width: 100% !important;
}


/*list search + news*/
.list {
    
}
.list-item {
    margin-top: 15px;
    margin-bottom: 15px;
    display: block;
}
.list-image {
    display: inline-block;
    vertical-align: top;
}
.list-image img {
    width: 100%;
    max-width: 100%;
    height: auto;
}
.list-text {
    display: inline-block;
    vertical-align: top;
}
.list-text h3,
.list-text h2 {
    margin-top: 0;
}
.list-text h3 a,
.list-text h2 a {
    color: #333;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}
.list-text h3 a:hover,
.list-text h3 a:focus,
.list-text h2 a:hover,
.list-text h2 a:focus {
	color: #BF282D;
}
.list-text p {
    text-align: justify;
}

/*breadcrumb*/
.breadcrumb {
    background: transparent none repeat scroll 0 0;
    border-radius: 0;
    bottom: -10px;
    margin: 0;
    padding: 0;
    position: relative;
}
.breadcrumb ul {
    margin: 0;
    padding-left: 0;
}
.breadcrumb ul li {
    list-style: none;
    display: inline-block;
}
.breadcrumb ul li b {
    color: #333;
}
.breadcrumb ul li a {
    color: #BF282D;
    font-size: 13px;
}
.breadcrumb ul li h1 {
    color: #BF282D;
    font-size: 13px;
    margin: 0;
    display: inline-block;
}
.breadcrumb i.fa {
    color: #BF282D;
    padding-left: 10px;
    padding-right: 5px;
}

/*footer*/
.footer {
    padding-top: 20px;
}
.footer ul {
    background: #fff none repeat scroll 0 0;
    border-bottom: 1px solid #BF282D;
    list-style: outside none none;
    margin-bottom: 0;
    padding-left: 0;
    padding-top: 10px;
    text-align: center;
}
.footer ul li {
    display: inline-block;
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.footer ul li a {
    display: block;
    padding-bottom: 10px;
    color: #888;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 4px solid transparent;
}
.footer ul li a:hover,
.footer ul li a:focus,
.footer ul li a.active {
    color: #BF282D;
    text-decoration: none;
    border-bottom-color: #BF282D;
}
.copyright {
    background: #333333 none repeat scroll 0 0;
    color: #fff;
    padding-bottom: 12px;
    padding-top: 18px;
    text-align: center;
}
.copyright p {
    font-size: 12px;
    margin-bottom: 3px;
}

.textlink {
    background: #333333 none repeat scroll 0 0;
    color: #fff;
    padding-bottom: 5px;
    padding-top: 0;
    text-align: center;
}
.textlink p {
    font-size: 12px;
    margin-bottom: 0;
}
.textlink h1, .textlink h2, .textlink h3,
.textlink a,
.textlink a:hover,
.textlink a:focus {
    color: #fff;
    display: inline-block;
    font-size: 13px;
    margin: 0;
}

/*star*/

.rating {
    text-align: center;
}

/*  Second Example with big stars */
.rate-ex2-cnt {
    display: inline-block;
    width:150px;
    height: 30px;
}
.rate-ex2-cnt .rate-btn {
    width: 30px;
    height:30px;
    float: left;
    background: url(../images/rate-btn2.png) no-repeat;
    cursor: pointer;
}
.rate-ex2-cnt .rate-btn:hover, .rate-ex2-cnt  .rate-btn-hover, .rate-ex2-cnt  .rate-btn-active {

    background: url(../images/rate-btn2-hover.png) no-repeat;
}
/* End second Example with big stars */

/* rate result */
.rate-result-cnt {
    height: 18px;
    margin-bottom: 3px;
    margin-top: 3px;
    position: relative;
    vertical-align: middle;
    width: 82px;
}

.rate-stars {
    width: 82px;
    height: 18px;
    background: url(../images/rate-stars.png) no-repeat;
    position: absolute;
}
.rate-bg {
    height: 17px;
    background-color: #ffbe10;
    position: absolute;
}
/*end rate result*/

.startitle {
    position: relative;
    right: -10px;
    top: -3px;
}
div.stars {
    margin-bottom: 2px;
}
div.stars strong {
    position: relative;
    top: -15px;
}
div.stars form {
    display: inline-block;
}

a.report-error {
    border: 2px solid #BF282D;
    border-radius: 5px;
    color: #BF282D;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    margin-left: 15px;
    padding: 1px 10px;
    position: relative;
    text-decoration: none;
}

input.star { display: none; }

label.star {
  float: right;
  padding: 2px 3px;
  font-size: 24px;
  color: #888;
  margin: 0;
  transition: all .2s;
}

input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
}

input.star-5:checked ~ label.star:before {
  color: #FE7;
}

input.star-1:checked ~ label.star:before { color: #F62; }

label.star:hover { transform: rotate(-15deg) scale(1.3); }

label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}

/*star*/

.rating {
    text-align: center;
}

/*  Second Example with big stars */
.rate-ex2-cnt {
    display: inline-block;
    width:150px;
    height: 30px;
}
.rate-ex2-cnt .rate-btn {
    width: 30px;
    height:30px;
    float: left;
    background: url(../images/rate-btn2.png) no-repeat;
    cursor: pointer;
}
.rate-ex2-cnt .rate-btn:hover, .rate-ex2-cnt  .rate-btn-hover, .rate-ex2-cnt  .rate-btn-active {

    background: url(../images/rate-btn2-hover.png) no-repeat;
}
/* End second Example with big stars */

/* rate result */
.rate-result-cnt {
    height: 18px;
    margin-bottom: 3px;
    margin-top: 3px;
    position: relative;
    vertical-align: middle;
    width: 82px;
}

.rate-stars {
    width: 82px;
    height: 18px;
    background: url(../images/rate-stars.png) no-repeat;
    position: absolute;
}
.rate-bg {
    height: 17px;
    background-color: #ffbe10;
    position: absolute;
}
/*end rate result*/

.startitle {
    position: relative;
    right: -10px;
    top: -3px;
}
div.stars {
    margin-bottom: 2px;
}
div.stars strong {
    position: relative;
    top: -15px;
}
div.stars form {
    display: inline-block;
}

a.report-error {
    border: 2px solid #BF282D;
    border-radius: 5px;
    color: #BF282D;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    margin-left: 15px;
    padding: 1px 10px;
    position: relative;
    text-decoration: none;
}

input.star { display: none; }

label.star {
  float: right;
  padding: 2px 3px;
  font-size: 24px;
  color: #888;
  margin: 0;
  transition: all .2s;
}

input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
}

input.star-5:checked ~ label.star:before {
  color: #FE7;
}

input.star-1:checked ~ label.star:before { color: #F62; }

label.star:hover { transform: rotate(-15deg) scale(1.3); }

label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}

.game {
    margin-bottom: 15px;
    text-align: center;
}
.game * {
    max-width: 100%;
    height: auto;
}

h1.title,
h2.title {
    border: medium none;
    color: #000;
    display: inline-block;
    font-size: 24px;
    margin-bottom: 3px;
    margin-top: 0;
    text-transform: none;
}

.comment .nav-tabs {
    border: 1px solid #BF282D;
    margin-bottom: 10px;
}
.comment .nav-tabs > li {
    width: 50%;
    margin: 0;
}
.comment .nav-tabs > li > a {
    border: none;
    border-radius: 0;
    color: #333;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 10px;
    text-align: center;
    margin: 0;
}
.comment .nav-tabs > li > a:hover,
.comment .nav-tabs > li > a:focus {
    background: #fff none repeat scroll 0 0;
    border: none;
    color: #333;
}
.comment .nav-tabs > li.active > a,
.comment .nav-tabs > li.active > a:focus,
.comment .nav-tabs > li.active > a:hover {
    background: #BF282D none repeat scroll 0 0;
    border: none;
    color: #fff;
}

.charts {
    background: #7ea8c1 none repeat scroll 0 0;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 45px;
    padding: 5px;
}
.charts > h3 {
    background: #7ea8c1 none repeat scroll 0 0;
    border-radius: 10px 10px 0 0;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 0;
    padding: 10px;
    text-align: center;
}
.charts ul {
    list-style: outside none none;
    margin: 0;
    padding-left: 5px;
    padding-right: 5px;
}
.charts ul li {
    background: #fff none repeat scroll 0 0;
    border-bottom: 1px solid #BF282D;
    border-radius: 10px;
    margin-bottom: 5px;
    padding: 5px 10px;
}
.charts ul li:last-child {
    border-bottom: none;
}
.charts-image {
    width: 40px;
    display: inline-block;
}
.charts-image img {
    max-width: 100%;
    height: auto;
}
.charts-text {
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
}
.charts-text strong {
    color: #BF282D;
    display: block;
    font-size: 16px;
}
.charts-text span {
    color: #BF282D;
    font-size: 16px;
}
.charts-medal {
    float: right;
}

/*thong tin tai khoan*/
a.edit-email,
a.edit-password {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: #888;
    margin-top: 3px;
}
a.edit-email:hover,
a.edit-password:hover {
    color: #888;
}
a.edit-email i.fa,
a.edit-password i.fa {
    font-size: 30px;
}

/*download button*/
a.download {
    background: #BF282D none repeat scroll 0 0;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    padding: 8px 45px;
    text-align: center;
    text-decoration: none;
}
a.download i.fa {
    font-size: 16px;
}

/*play*/
.btn-block-center {
    display: block;
    margin: 10px 0;
    text-align: center;
}
.btn-block-center a.download {
    padding: 10px;
    width: 100%;
}
.btn-click {
    display: inline-block;
    margin-bottom: 15px;
    margin-top: 15px;
    width: 100%;
}

/*.mobile {
    display: none;
}
.web {
    display: block;
}*/
.mobile_avatar {
    width: 40%;
    padding: 0 15px;
    display: inline-block;
    vertical-align: top;
}
.mobile_title {
    width: 58%;
    padding: 0 15px 0 0;
    vertical-align: top;
    display: inline-block;
}
.mobile_title p {
    margin-bottom: 3px;
}

.game_avatar {
    width: 20%;
    padding: 0 15px 0 0;
    display: inline-block;
    vertical-align: top;
}

.game_title {
    width: 78%;
    padding: 0 15px 0 0;
    vertical-align: top;
    display: inline-block;
}

.cachar {
    background: #BF282D;
    border-radius: 0px;
    color: #fff;
    text-align: center;
    margin-top: -18px;
    width: 50%;
    font-size: 13px;
    padding-top: 1px;
	height: 19px;
}
#code{
    width: 50%;
}


.title_center {
    border-bottom: 1px solid #cbcbcb;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
}
.title_left {
    padding-bottom: 5px;
    padding-top: 5px;
}
.title_center h1,
.title_left h1 {
    color: #333;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
}

.title_left p {
    color: #474747;
    font-size: 12px;
    margin-bottom: 0;
}

/* box games */
.box {
	margin-bottom: 10px;
    margin-top: 10px;
}
.box > h3,
.box > h1 {
    border-bottom: 2px solid #ccc;
    color: #BF282D;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-bottom: 5px;
    position: relative;
    text-transform: uppercase;
}
.box > h3 > a,
.box > h1 > a {
    color: #BF282D;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}
.box > h4 {
    color: #BF282D;
    text-transform: uppercase;
}
.box a.box-more {
    background: #BF282D none repeat scroll 0 0;
    border-radius: 30px 0 0;
    color: #fff;
    float: right;
    font-size: 16px;
    font-weight: normal;
    padding: 5px 30px 5px 35px;
    position: absolute;
    right: 0;
    text-decoration: none;
    text-transform: none;
    top: -2px;
}

.box img {
    max-width: 100%;
    height: auto;
}

.item {
    border: 1px solid #888;
    margin-bottom: 10px;
    height: 140px;
}

.item-image {
    text-align: center;
    position: relative;
}
.item-image img {
    height: auto;
    width: 100%;
    max-width: 100%;
}
.item-image strong {
    color: #888;
    display: block;
    font-size: 13px;
    font-weight: bold;
    margin-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: left;
}
.item-image i.fa {
    color: #fff;
    font-size: 30px;
    left: 43%;
    position: absolute;
    top: 40%;
}
.overlay {
    background: rgba(0, 0, 0, 0.2) none repeat scroll 0 0;
    height: 100%;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    transition: opacity 0.25s ease 0s;
    -webkit-transition: opacity .25s ease;
    -moz-transition: opacity .25s ease;
}

.item:hover .overlay {
    opacity: 1;
}

.item-star {
    text-align: center;
    margin-bottom: 5px;
}
.item a {
    text-decoration: none;
    display: block;
}
.item a:hover,
.item a:focus {
    text-decoration: none;
}
.item-title {
    color: #333;
    display: block;
    padding: 5px 3px;
}
.item-title h2 {
    font-size: 13px;
    margin: 0;
}
.item-title a {
    color: #333;
    font-size: 13px;
    text-align: center;
}
.item-play {

    padding: 5px;
    color: #fff;
}
.item-play a {
    color: #fff;
    display: block;
}
.item-play span {
	color: #908c8c;
    font-size: 12px;
}
.item-play i.fa {
    float: right;
    font-size: 24px;
	margin-top: -2px;
}

i.download {

    float: right;
    font-size: 23px;
    margin-top: -7px;
}
i.play {
    float: right;
    font-size: 16px;
    margin-top: -2px;

}


.login-facebook {
    display: block;
    margin-bottom: 10px;
}
.login-google {
    display: block;
    margin-bottom: 10px;
}

.comment-list {
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    list-style: none;
}
.comment-list li {
    border-bottom: 1px solid #f4f4f4;
    padding-bottom: 5px;
    padding-top: 5px;
    display: none;
}
.comment-avatar {
    display: inline-block;
    vertical-align: top;
}
.comment-content {
    display: inline-block;
}
.comment-avatar img {
    width: 50px;
    height: 50px;
}
.comment-user {
    display: block;
    font-size: 12px;
}
.comment-user span {
    font-size: 14px;
    font-weight: bold;
    color: #2B74A1;
}
.comment-desc {
    display: block;
}
#loadMore {
    text-align: center;
    display: block;
}

.comment-button {
    background: #333333;
    float: right;
}

.glass {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.playbox {
    background: #fff;
    border-radius: 10px;
    margin-top: 15px;
    padding: 10px;
    text-align: center;
}

.playgame {
    background: #BF282D;
    border-radius: 10px;
    padding: 15px 10px 10px 10px;
}
.playgame h3,
.playgame h1 {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}
.playgame .social-box {
    background: #fff none repeat scroll 0 0;
    margin-bottom: 15px;
    margin-top: 15px;
}
.playgame .social-vote {
    display: inline-block;
}
.playgame .social-vote-label {
    background: #cedfe9 none repeat scroll 0 0;
    border-radius: 5px;
    color: #3b6037;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    padding: 5px;
}
a.fullscreen,
input.fullscreen {
    background: #2b74a1 none repeat scroll 0 0;
    border: medium none;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    margin-left: 40px;
    margin-right: 40px;
    padding: 3px 8px;
    text-decoration: none;
}
.social-box .social {
    border: 5px solid #474749;
    border-radius: 5px;
    display: inline-block;
    padding: 15px 30px;
}

.social {
    text-align: center;
}

.social div {
    vertical-align: middle !important;
}

.gamenav {
    border-bottom: 0 none;
    margin-top: 15px;
    padding-left: 40px;
}
.gamenav li {

}
.gamenav li a {
    border-radius: 10px 10px 0 0;
    font-weight: bold;
    padding-bottom: 5px;
    padding-top: 5px;
}
.gamenav li.active > a {
    background: #474749 none repeat scroll 0 0;
    border-radius: 10px 10px 0 0;
    color: #fff;
}
.gamenav li.active > a:hover,
.gamenav li.active > a:focus {
    background: #474749;
    color: #fff;
}
.gamecontent .web,
.gamecontent .gameerror {
    border: 2px solid #888;
    padding: 10px;
    border-radius: 10px;
}
/*.gamecontent .game_avatar {
    width: 30%;
}
.gamecontent .game_title {
    width: 68%;
}
*/
.gamecontent h4 {
    color: #333;
    text-transform: uppercase;
}
.gamecontent-right {
    margin-left: 35px;
}

.topgame {
    background: #BF282D none repeat scroll 0 0;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 45px;
    padding: 7px 7px 4px;
}
.topgame > h3 {
    background: #BF282D none repeat scroll 0 0;
    border-radius: 10px 10px 0 0;
    margin-bottom: 0;
    margin-top: 0;
    padding: 10px;
    text-align: center;
}
.topgame > h3 > a {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}
.topgame ul {
    background: #fff none repeat scroll 0 0;
    border-radius: 10px;
    list-style: outside none none;
    margin: 0;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
}
.topgame ul li {
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 5px;
}
.topgame ul li:last-child {
    border-bottom: none;
}
.topgame-image {
    width: 30%;
    display: inline-block;
}
.topgame-image img {
    max-width: 100%;
    height: auto;
}
.topgame-text {
    display: inline-block;
    width: 60%;
    margin-left: 5px;
    vertical-align: middle;
}
.topgame-text strong {
    color: #2b74a1;
    display: block;
    font-size: 16px;
}
.topgame-text span {
    color: #BF282D;
    display: block;
    font-size: 13px;
}
.topgame-text a {
    color: #808080;
    font-weight: bold;
    text-decoration: none;
}

a.btn_more {
    background: #bf282d none repeat scroll 0 0;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    margin: 0 auto;
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
}
a.btn_more:hover,
a.btn_more:focus {
    color: #fff;
}

.boxmini {
    margin-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}
.boxmini-title {
    border-bottom: 2px solid #484848;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.boxmini-title h3 {
    display: inline-block;
    color: #484848;
    font-size: 16px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    position: relative;
    text-transform: uppercase;
}
.boxmini-title a {
    background: #484848;
    padding: 4px 10px;
    border-radius: 5px;
    font-weight: normal;
    float: right;
    color: #fff;
    font-size: 12px;
    display: inline-block;
    text-decoration: none;
}
.boxmini .item {
    height: 120px;
}

input.btn-login,
input.btn-login:hover,
input.btn-login.focus,
input.btn-register,
input.btn-register:hover,
input.btn-register.focus,
#loadMore,
#loadMore:hover,
#loadMore:focus {
    background-color: #474749;
    border-color: #474749;
    color: #fff;
}

.pager .disabled > a, .pager .disabled > a:focus, .pager .disabled > a:hover, .pager .disabled > span {
    background-color: #bf282d;
    color: #fff;
    border: 1px solid #bf282d;
}
.pager li > a, .pager li > span {
    color: #333;
}

.right {
    text-align: right;
}
.pagination > li:first-child > a, .pagination > li:first-child > span,
.pagination > li:last-child > a, .pagination > li:last-child > span {
    border-radius: 0;
}

ul.pagination {
    
}
ul.pagination li {

}
ul.pagination li a {
    border-color: #333;
    color: #333;
    margin-left: 5px;
}
ul.pagination li.current a {
    background: #bf282d;
    color: #fff;
    border-color: #bf282d;
}
.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
    background-color: #fff;
    border-color: #333;
    color: #333;
}

/*trang tai ve*/
.imgGamedowload,
.slideGame {
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: left;
}
.imgGamedowload img,
.slideGame img {
    max-width: 100%;
    height: auto;
}
.imgGameContentdowload{
    width: 50%;
    display: inline-block;
}
.img_game_detail{

}
.img_game_detail img{
        margin-right: 24px;
}
.imgGame img{
    width: 76%;
    max-width: 100%;
    height: auto;
}
@media (max-width: 767px) {
    .imgGame img{
        width: auto;
    }
    .imgGamedowload img,
    .slideGame img {
         width: auto;
    }
}
.table_container{
     display: table;
     width:90%;
     border-collapse: collapse;
    }
.heading{
     font-weight: bold;
     display:table-row;
     background-color:#C91622;
     text-align: center;
     line-height: 25px;
     font-size: 14px;
     font-family:georgia;
     color:#fff;
  }
.table-row{
      display:table-row;
      text-align: left;
  }
.col{
    display:table-cell;
    border: 0px solid #CCC;
    vertical-align: top;
    padding-left:20px;
}

.container {
    padding-left: 5px;
    padding-right: 5px;
}
.row {
    margin-left: -5px;
    margin-right: -5px;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-left: 5px;
    padding-right: 5px;
}

/*mobile*/
.top {

}

.mobile-top {
    background: #EC1D23;
    margin-left: -15px;
    margin-right: -15px;
    /*height: 50px;*/
}
.mobile-top-left {
    
}
.mobile-top-left a {
    
}
.mobile-top-left a img {
    width: 100%;
    max-width: 100%;
    height: auto;
}
.mobile-top-right {
    text-align: right;
    padding-right: 15px;
    margin-top: 5px;
}
.mobile-menu-hide {
    background: #2b74a1;
    text-align: center;
}
.mobile-menu-hide a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    display: block;
    line-height: 2 !important;
}
.mobile-menu-hide a i.fa {
    font-size: 14px;
}
.mobile-menu-show a,
.mobile-menu-hide a {
    text-decoration: none;
    cursor: pointer;
}
.mobile-menu-show a:hover,
.mobile-menu-show a:focus {
    border-bottom-color: transparent !important;
}
.mobile-menu-show a i.fa {
    color: #888;
    font-size: 20px;
}
.mobile-menushow {
    /*display: block !important;*/
    visibility: visible !important;
}
a.mobile-menu_show_list {
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    margin-left: 22px;
}
/*menu box*/
.mobile-menu-account {
    background: #888 none repeat scroll 0 0;
}
a.mobile-account-name,
a.mobile-game-favorite,
a.mobile-game-played,
a.mobile-signout {
    color: #fff;
    display: block;
    line-height: 2 !important;
}
a.mobile-account-name {
    /*text-transform: uppercase;*/
    font-weight: bold !important;
}
a.mobile-game-favorite i.fa,
a.mobile-game-played i.fa,
a.mobile-signout i.fa {
    font-size: 20px;
    margin-right: 7px;
}
a.mobile-game-favorite,
a.mobile-game-played {
    background: #a9a8a6;
    border-bottom: 1px solid #fff !important;
}
a.mobile-signout {
    background: #a9a8a6;
}

.mobile-menu-login {
    background: #a9a8a6 none repeat scroll 0 0;
}
.mobile-menu-login a.mobile-signin,
.mobile-menu-login a.mobile-signup {
    color: #fff;
    display: inline-block;
    line-height: 2 !important;
    text-align: center;
    width: 148px;
}
.mobile-menu-login a i.fa {

}
.mobile-menu-login a.mobile-signin {
    background: #888 none repeat scroll 0 0;
}
.mobile-menu-login a.mobile-signup {
    background: #a9a8a6 none repeat scroll 0 0;
}
#cssmenu {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 1px 3px #888;
    /*display: none;*/
    visibility: hidden;
    right: 0;
    position: absolute !important;
    top: 50px;
    width: 300px;
    z-index: 9999;
}
#cssmenu, #cssmenu ul, #cssmenu li, #cssmenu a {
    border: 0 none;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    position: relative;
    text-decoration: none;
}
#cssmenu a {
    line-height: 1.5;
    padding: 10px;
}
#cssmenu > ul > li {
    background: #000 none repeat scroll 0 0;
    border-bottom: 1px solid #666;
    cursor: pointer;
}
#cssmenu > ul > li:last-child {
    border-bottom: 1px solid #666;
}
#cssmenu > ul > li > a {
    background: #474749 none repeat scroll 0 0;
    color: #fff;
    display: block;
}
#cssmenu > ul > li > a:hover {
    text-decoration: none;
}
#cssmenu > ul > li.active {

}
#cssmenu > ul > li.active > a {

}
#cssmenu > ul > li.has-sub > a::after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent transparent transparent #fff;
    border-image: none;
    border-style: solid;
    border-width: 5px;
    content: "";
    position: absolute;
    right: 10px;
    top: 15px;
}
#cssmenu > ul > li.has-sub.active > a::after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #fff transparent transparent;
    border-image: none;
    border-style: solid;
    border-width: 5px;
    right: 15px;
    top: 15px;
}
#cssmenu ul ul {
    display: none;
    padding: 0;
}
#cssmenu ul ul a {
    background: #797979;
    color: #fff;
    display: block;
}
#cssmenu ul ul li {
    border-bottom: 1px solid #ccc;
}
#cssmenu ul ul li.odd a {

}
#cssmenu ul ul li:last-child {
    border: medium none;
}

#cssmenu > ul > li > a > i.fa {
    font-size: 25px;
}
#cssmenu > ul > li > a > span {

}

/*search*/

.mobile-search1 form {
    position: relative;
    width: 100%;
    display: inline-block;
    margin-bottom: 0;
    height: 100%;
    text-align: left !important;
}
.mobile-search1 input[type=text] {
    background: #fff none repeat scroll 0 0;
    border: none;
    color: #000;
    font-size: 14px;
    font-style: italic;
    height: 40px;
    letter-spacing: 1px;
    max-width: 100%;
    padding: 5px 10px;
    width: 100%;
    text-align: left !important;
}
.mobile-search1 input[type=submit] {
    background: rgba(0, 0, 0, 0) url("../images/search-icon.png") no-repeat scroll center center;
    border: medium none;
    font-size: 0;
    height: 40px;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    text-align: left !important;
}


@media (min-width: 1200px) {
    .container {
        width: 1000px;
    }
}

@media (min-width: 768px) {
	.navbar-nav > li:first-child > a {
		padding-left: 0;
	}
	.navbar-nav > li:last-child > a {
		padding-right: 0;
	}
	.box-main {
		padding-right: 10px;
		border-right: 1px solid #ccc;
	}
}


@media (max-width: 1024px) {
    /*.list-text {
        width: 680px;
    }*/
    .item {
        height: 160px;
    }
    .logo {
        width: auto;
    }
    .logo img {
        width: 100%;
    }
}
@media (max-width: 768px) {
    /*.list-text {
        width: 480px;
    }*/
    .item {
        height: 160px;
    }
    .search form {
        width: 100%;
    }

    a.highlight-item p {
        height: auto;
    }
    a.highlight-item img {
        height: auto;
        width: 100%;
        max-width: 100%;
    }
    a.report-error {
        margin-top: 10px;
    }
    a.btn_more {
        width: 100%;
    }
    .title_center h1, .title_left h1 {
        font-size: 20px;
    }
}
@media (max-width: 736px) {
    .item {
        height: 200px;
    }
}
@media (max-width: 668px) {
    .item {
        height: 180px;
    }
}
@media (max-width: 600px) {
    /*.list-text {
        width: 320px;
    }*/
    .item {
        height: 160px;
    }
}
@media (max-width: 480px) {
    /*.list-image {
        width: 100px;
    }
    .list-text {
        padding-left: 5px;
        width: 270px;
    }
    .list-text h3 {
        margin-bottom: 0;
    }
    .list-text p {
        margin-bottom: 0;
    }*/
    .item {
        height: 140px;
    }
}
@media (max-width: 400px) {
   /* .list-text {
        width: 220px;
    }*/
    .col-xs-6 {
        padding-left: 5px;
        padding-right: 5px;
    }
    .item {
        height: 115px;
        margin-bottom: 10px;
    }
}
@media (max-width: 320px) {
    /*.list-text {
        width: 180px;
    }*/
}
