/*search*/

.search1 form {
    position: relative;
    width: 200px;
    display: inline-block;
    margin-bottom: 0;
    overflow: hidden;
    text-align: left !important;
}
.search1 input[type=text] {
    background: #fff none repeat scroll 0 0;
    border-bottom: 1px solid #2b74a1;
    border-left: 8px solid #2b74a1;
    color: #000;
    font-size: 14px;
    font-style: italic;
    height: 50px;
    letter-spacing: 1px;
    max-width: 100%;
    padding: 7px 13px;
    width: 100%;
    text-align: left !important;
}
.search1 input[type=submit] {
    background: rgba(0, 0, 0, 0) url("../images/search-icon.png") no-repeat scroll center center;
    border: medium none;
    font-size: 0;
    height: 50px;
    position: absolute;
    right: 0;
    top: 0;
    width: 39px;
    text-align: left !important;
}
#iconseach{
    display: none;
}

a.iconfacebook,
a.icongoogleplus {
    color: #fff;
    cursor: pointer;
    font-size: 24px;
    padding: 5px 8px;
    vertical-align: middle;
}

/*menu*/
.menu-top {
    background: #ebebeb;
    text-align: left !important;
}
.menu-static {
    padding-top: 15px;
    text-align: left !important;
}
.menu-static ul {
    list-style: outside none none;
    margin-bottom: 0;
    padding: 0;
    text-align: center;
}
.menu-static ul li {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left !important;
}

.menu-static ul li a {
    color: #888;
    display: block;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 4px solid transparent;
    text-align: left !important;
}
.menu-static ul li a:hover,
.menu-static ul li a:focus,
.menu-static ul li a.active {
    color: #2b74a1;
    text-decoration: none;
    border-bottom-color: #2b74a1;
}
.menu-static ul li a i.fa {
    font-size: 30px;
}
.menu-static ul li a span {
    display: block;
    padding-bottom: 2px;
}

.menu-hide {
    background: #2b74a1;
    text-align: center;
}
.menu-hide a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    display: block;
    line-height: 2 !important;
    text-align: left !important;
}
.menu-hide a i.fa {
    font-size: 14px;
}
.menu-show a,
.menu-hide a {
    text-decoration: none;
    cursor: pointer;
}
.menu-show a:hover,
.menu-show a:focus {
    border-bottom-color: transparent !important;
}
.menu-show a i.fa {
    color: #888;
    font-size: 20px;
}
.menushow {
    /*display: block !important;*/
    visibility: visible !important;
}
a.menu_show_list {
    color: #fff;
    cursor: pointer;
    font-size: 30px;
    margin-left: 0;
    padding: 5px;
    text-align: left !important;
    opacity: 0.5;
}
/*menu box*/
.menu-account {
    background: #888 none repeat scroll 0 0;
}
a.account-name,
a.game-favorite,
a.game-played,
a.signout {
    color: #fff;
    display: block;
    line-height: 2 !important;
}
a.account-name {
    text-transform: uppercase;
}
a.game-favorite i.fa,
a.game-played i.fa,
a.signout i.fa {
    font-size: 20px;
    margin-right: 7px;
}
a.game-favorite,
a.game-played {
    background: #a9a8a6;
    border-bottom: 1px solid #fff !important;
}

.menu-login {
    background: #888 none repeat scroll 0 0;
    text-align: left !important;
}
.menu-login a.signin,
.menu-login a.signup {
    color: #fff;
    display: inline-block;
    line-height: 2 !important;
    text-align: center;
    width: 127px;
}
.menu-login a i.fa {

}
.menu-login a.signup {
    background: #a9a8a6;
}
#cssmenu {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 1px 3px #888;
    visibility: hidden;
    right: 0;
    position: absolute !important;
    top: 50px;
    width: 200px;
    z-index: 9999;
    text-align: left !important;
}
#cssmenu, #cssmenu ul, #cssmenu li, #cssmenu a {
    border: 0 none;
    font-size: 14px;
    font-weight: normal;
    line-height: 0;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    position: relative;
    text-decoration: none;
}
#cssmenu a {
    line-height: 1.5;
    padding: 10px;
    text-align: left !important;
}
#cssmenu > ul {
    overflow-y: auto;
}
#cssmenu > ul > li {
    background: #000 none repeat scroll 0 0;
    border-bottom: 1px solid #2b74a1;
    cursor: pointer;
    text-align: left !important;
}
#cssmenu > ul > li:last-child {
    border-bottom: 1px solid #2b74a1;
}
#cssmenu > ul > li > a {
    background: #fff none repeat scroll 0 0;
    border-left: 8px solid #2b74a1;
    color: #888;
    display: block;
    text-align: left !important;
}
#cssmenu > ul > li > a:hover {
    text-decoration: none;
}
#cssmenu > ul > li.active {

}
#cssmenu > ul > li.active > a {

}
#cssmenu > ul > li.has-sub > a::after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent transparent transparent #2b74a1;
    border-image: none;
    border-style: solid;
    border-width: 5px;
    content: "";
    position: absolute;
    right: 10px;
    top: 18px;
}
#cssmenu > ul > li.has-sub.active > a::after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #2b74a1 transparent transparent;
    border-image: none;
    border-style: solid;
    border-width: 5px;
    right: 14px;
    top: 18px;
}
#cssmenu ul ul {
    display: none;
    padding: 0;
    overflow-y: auto;
    text-align: left !important;
}
#cssmenu ul ul a {
    background: #ebebeb none repeat scroll 0 0;
    border-left: 8px solid #2b74a1;
    color: #888;
    display: block;
    text-align: left !important;
}
#cssmenu ul ul li {
    border-bottom: 1px solid #ccc;
}
#cssmenu ul ul li.odd a {

}
#cssmenu ul ul li:last-child {
    border: medium none;
}

#cssmenu > ul > li > a > i.fa {
    font-size: 25px;
}
#cssmenu > ul > li > a > span {

}
.color1 {
    color: #2b74a1 !important;
}
.color2 {
    color: #a3ca39 !important;
}
.color3 {
    color: #f8a24f !important;
}

.top .menu-show {
    display: none;
}

.menu-button {
    background: rgba(0, 0, 0, 0.25) none repeat scroll 0 0;
    border-radius: 5px;
    display: inline-block;
    position: fixed;
    right: 0;
    top: 0;
    text-align: left !important;
    z-index: 9999;
}

.menu-import {
    max-height: 100%;
    text-align: left !important;

    color: #333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
}
