body {
    background: #ecf0f1;
}
a {
    text-decoration: none;
}
.top {
    background: #2b74a1 none repeat scroll 0 0;
    padding-bottom: 5px;
    padding-top: 5px;
}
.logo {
    display: inline-block;
    width: 50%;
}
.logo img {
    height: auto;
    max-width: 100%;
}
/*search*/
.search {
    float: right;
    margin-top: 10px;
    text-align: right;
    width: auto;

}
.search form {
    position: relative;
    width: 200px;
    display: inline-block;
}
.search input[type=text] {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    color: #000;
    font-size: 14px;
    letter-spacing: 1px;
    max-width: 100%;
    padding: 7px 13px;
    width: 100%;
	height: 39px;
	font-style: italic;
}
.search input[type=submit] {
    background: rgba(0, 0, 0, 0) url("../images/search-icon.png") no-repeat scroll center center;
    border: medium none;
    font-size: 0;
    height: 39px;
    position: absolute;
    right: 0;
    top: 0;
    width: 39px;
}

/*search*/

.search1 form {
    position: relative;
    width: 300px;
    display: inline-block;
}
.search1 input[type=text] {
    background: #fff none repeat scroll 0 0;
    border-left: 8px solid #2b74a1;
    border-bottom: 1px solid #2b74a1;
    color: #000;
    font-size: 14px;
    letter-spacing: 1px;
    max-width: 100%;
    padding: 7px 13px;
    width: 100%;
    height: 39px;
    font-style: italic;
}
.search1 input[type=submit] {
    background: rgba(0, 0, 0, 0) url("../images/search-icon.png") no-repeat scroll center center;
    border: medium none;
    font-size: 0;
    height: 36px;
    position: absolute;
    right: 0;
    top: 0;
    width: 39px;
}
#iconseach{
    display: none;
}

a.iconfacebook,
a.icongoogleplus {
    color: #fff;
    cursor: pointer;
    font-size: 24px;
    padding: 5px 8px;
    vertical-align: middle;
}

/* main */
.main {
    background: #fff;
    padding-top: 5px;
}

/*advertisement*/
.ad {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
.ad img {
    height: auto;
    max-width: 100%;
}

/* box games */
.box {
    padding-left: 30px;
    padding-right: 30px;
}
.box > h3,
.box > h1 {
    border-bottom: 2px solid #2b74a1;
    color: #2b74a1;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    padding-bottom: 5px;
    position: relative;
}
.box > h3 > a,
.box > h1 > a {
    color: #2b74a1;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}
.box > h4 {
    color: #2b74a1;
    text-transform: uppercase;
}
.box a.box-more {
    background: #2b74a1 none repeat scroll 0 0;
    border-radius: 30px 0 0;
    color: #fff;
    float: right;
    font-size: 16px;
    font-weight: normal;
    padding: 5px 30px 5px 35px;
    position: absolute;
    right: 0;
    text-decoration: none;
    text-transform: none;
    top: -2px;
}

.box img {
    max-width: 100%;
    height: auto;
}

.item {
    border: 1px solid #c8c8c8;
    margin-bottom: 30px;
}
.item-image {
    text-align: center;

}
.item-image img {
    height: auto;
    max-width: 100%;
}
.item-image strong {
    color: #888;
    display: block;
    font-size: 13px;
    font-weight: bold;
    margin-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: left;
}
.item-star {
    text-align: center;
    margin-bottom: 5px;
}
.item a {
    text-decoration: none;
}
.item a:hover,
.item a:focus {
    text-decoration: none;
}
.item-play {

    padding: 5px;
    color: #fff;
}
.item-play a {
    color: #fff;
    display: block;
}
.item-play span {
	color: #908c8c;
    font-size: 12px;
}
.item-play i.fa {
    float: right;
    font-size: 24px;
	margin-top: -2px;
}

i.download {

    float: right;
    font-size: 23px;
    margin-top: -7px;
}
i.play {
    float: right;
    font-size: 16px;
    margin-top: -2px;

}
/*footer*/
.footer {
    padding-top: 20px;
}
.footer ul {
    background: #fff none repeat scroll 0 0;
    border-bottom: 1px solid #2b74a1;
    list-style: outside none none;
    margin-bottom: 0;
    padding-left: 0;
    padding-top: 10px;
    text-align: center;
}
.footer ul li {
    display: inline-block;
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.footer ul li a {
    display: block;
    padding-bottom: 10px;
    color: #888;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 4px solid transparent;
}
.footer ul li a:hover,
.footer ul li a:focus,
.footer ul li a.active {
    color: #2b74a1;
    text-decoration: none;
    border-bottom-color: #2b74a1;
}
.copyright {
    background: #ebebeb none repeat scroll 0 0;
    color: #888;
    padding-bottom: 12px;
    padding-top: 18px;
    text-align: center;
}

/*menu*/
.menu-top {
    background: #ebebeb;
	height: 68px;
}
.menu-static {
    padding-top: 10px;
}
.menu-static ul {
    list-style: outside none none;
    margin-bottom: 0;
    padding: 0;
    text-align: center;
}
.menu-static ul li {
    display: inline-block;
    width: auto;
    padding-left: 47px;
    padding-right: 28px;

}
.menu-static ul li a {
    color: #888;
    display: block;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 4px solid transparent;
}
.menu-static ul li a:hover,
.menu-static ul li a:focus,
.menu-static ul li a.active {
    color: #2b74a1;
    text-decoration: none;
    border-bottom-color: #2b74a1;
}
.menu-static ul li a i.fa {
    font-size: 30px;
}
.menu-static ul li a span {
    display: block;
    padding-bottom: 2px;
}

.menu-hide {
    background: #2b74a1;
    text-align: center;
}
.menu-hide a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    display: block;
    line-height: 2 !important;
}
.menu-hide a i.fa {
    font-size: 14px;
}
.menu-show a,
.menu-hide a {
    text-decoration: none;
    cursor: pointer;
}
.menu-show a:hover,
.menu-show a:focus {
    border-bottom-color: transparent !important;
}
.menu-show a i.fa {
    color: #888;
    font-size: 20px;
}
.menushow {
    /*display: block !important;*/
    visibility: visible !important;
}
a.menu_show_list {

    color: #fff;
    font-size: 24px;
    cursor: pointer;
    margin-left: 22px;
}
/*menu box*/
.menu-account {
    background: #888 none repeat scroll 0 0;
}
a.account-name,
a.game-favorite,
a.game-played,
a.signout {
    color: #fff;
    display: block;
    line-height: 2 !important;
}
a.account-name {
    text-transform: uppercase;
}
a.game-favorite i.fa,
a.game-played i.fa,
a.signout i.fa {
    font-size: 20px;
    margin-right: 7px;
}
a.game-favorite,
a.game-played {
    background: #a9a8a6;
    border-bottom: 1px solid #fff !important;
}

.menu-login {
    background: #888 none repeat scroll 0 0;
}
.menu-login a.signin,
.menu-login a.signup {
    color: #fff;
    display: inline-block;
    line-height: 2 !important;
    text-align: center;
    width: 148px;
}
.menu-login a i.fa {

}
.menu-login a.signup {
    background: #a9a8a6;
}
#cssmenu {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 1px 3px #888;
    /*display: none;*/
    visibility: hidden;
    right: 0;
    position: absolute !important;
    top: 70px;
    width: 300px;
    z-index: 9999;
}
#cssmenu, #cssmenu ul, #cssmenu li, #cssmenu a {
    border: 0 none;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    position: relative;
    text-decoration: none;
}
#cssmenu a {
    line-height: 1.5;
    padding: 10px;
}
#cssmenu > ul > li {
    background: #000 none repeat scroll 0 0;
    border-bottom: 1px solid #2b74a1;
    cursor: pointer;
}
#cssmenu > ul > li:last-child {
    border-bottom: 1px solid #2b74a1;
}
#cssmenu > ul > li > a {
    background: #fff none repeat scroll 0 0;
    border-left: 8px solid #2b74a1;
    color: #888;
    display: block;
}
#cssmenu > ul > li > a:hover {
    text-decoration: none;
}
#cssmenu > ul > li.active {

}
#cssmenu > ul > li.active > a {

}
#cssmenu > ul > li.has-sub > a::after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent transparent transparent #2b74a1;
    border-image: none;
    border-style: solid;
    border-width: 5px;
    content: "";
    position: absolute;
    right: 10px;
    top: 18px;
}
#cssmenu > ul > li.has-sub.active > a::after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #2b74a1 transparent transparent;
    border-image: none;
    border-style: solid;
    border-width: 5px;
    right: 14px;
    top: 18px;
}
#cssmenu ul ul {
    display: none;
    padding: 0;
}
#cssmenu ul ul a {
    background: #ebebeb none repeat scroll 0 0;
    border-left: 4px solid #2b74a1;
    color: #888;
    display: block;
}
#cssmenu ul ul li {
    border-bottom: 1px solid #ccc;
}
#cssmenu ul ul li.odd a {

}
#cssmenu ul ul li:last-child {
    border: medium none;
}

#cssmenu > ul > li > a > i.fa {
    font-size: 25px;
}
#cssmenu > ul > li > a > span {

}
.color1 {
    color: #2b74a1 !important;
}
.color2 {
    color: #a3ca39 !important;
}
.color3 {
    color: #f8a24f !important;
}

.top .menu-show {
    display: none;
}

.charts {
    border: 2px solid #ed933b;
    margin-bottom: 10px;
}
.charts > h3 {
    background: #ed933b;
    padding: 10px;
    color: #fff;
    margin-top: 0;
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
}
.charts ul {
    list-style: outside none none;
    padding-left: 15px;
    padding-right: 15px;
}
.charts ul li {
    border-bottom: 1px dashed #2b74a1;
    padding-bottom: 5px;
    padding-top: 5px;
}
.charts ul li:last-child {
    border-bottom: none;
}
.charts-image {
    width: 30px;
    display: inline-block;
}
.charts-image img {
    max-width: 100%;
    height: auto;
}
.charts-text {
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
}
.charts-text strong {
    color: #2b74a1;
    display: block;
    font-size: 16px;
}
.charts-text span {
    color: #ed933b;
    font-size: 16px;
}

/*thong tin tai khoan*/
a.edit-email,
a.edit-password {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: #888;
    margin-top: 3px;
}
a.edit-email:hover,
a.edit-password:hover {
    color: #888;
}
a.edit-email i.fa,
a.edit-password i.fa {
    font-size: 30px;
}

/*download button*/
a.download {
    background: #ed933b none repeat scroll 0 0;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
}
a.download i.fa {
    font-size: 16px;
}

/*.mobile {
    display: none;
}
.web {
    display: block;
}*/
.mobile_avatar {
    width: 40%;
    padding: 0 15px;
    display: inline-block;
    vertical-align: top;
}
.mobile_title {
    width: 58%;
    padding: 0 15px 0 0;
    vertical-align: top;
    display: inline-block;
}

.cachar {
    background: #2b74a1;
    border-radius: 0px;
    color: #fff;
    text-align: center;
    margin-top: -18px;
    width: 50%;
    font-size: 13px;
    padding-top: 1px;
	height: 19px;
}
#code{
    width: 50%;
}
/*responsive for mobile screen < 768px*/
@media (max-width: 500px) {
	.col {
    font-size:8px;
	}
	.label-text{
		display:none;
	}
    /*.mobile {
        display: block;
    }
    .web {
        display: none;
    }*/

    .social {
        text-align: center;
    }
    .social a {
        margin-right: 10px;
    }
    a.download {
        display: block;
    }
    a.download2 {
        background: #ed933b none repeat scroll 0 0;
        border-radius: 5px;
        color: #fff;
        display: inline-block;
        font-weight: bold;
        padding: 8px 20px;
        text-align: center;
        text-decoration: none;
    }

    .top {
        background: #2b74a1;
        padding-top: 10px;
        padding-bottom: 8px;
    }
    .menu-top {
        background: #ebebeb;
        height: 55px;
    }
    .item-play span {

        font-size:12px;
    }
    .top .menu-show {
        display: inline-block;
        margin-top: 5px;
        display: none;
    }
    .footer {
        font-size: 12px;
        padding-top: 0;
    }
    .item-image strong {
        font-size: 12px;
        color: #908c8c;
        text-align: left;
        padding-left: 3px;
        padding-right: 3px;
    }
    .box > h3 > a,
    .box > h1 > a {
        font-size: 16px;
    }
    .box > h3,
    .box > h1 {
        margin-top: 5px;
        font-size: 16px;
    }
    .ad img {
    margin-top: -10px;
    }
    .top .menu-show a i.fa {
        color: #fff;
    }
    .menu-static .menu-show {
        display: none !important;
    }
    .menu-static ul li {
        padding-left: 3px;
        width: 58px;
        padding-right: 3px;
    }
    .menu-static ul li a i.fa {
        font-size: 25px;
    }
    .menu-static ul li a span {
        font-size: 10px;
    }
    .box {
        padding-left: 5px;
        padding-right: 5px;
    }
    .footer ul li {
        padding-left: 5px;
        padding-right: 5px;
    }
    .box a.box-more {
        height: 20px;
        padding-left: 17px;
        padding-top: 3px;
        padding-right: 6px;
        font-size: 13px;
        top: 2px;
    }

    .logo {
        width: 40%;
    }
    .logo img {
        height: 40px;
    }
    .search {

        margin-top: 0;

    }
    .search form {
        width: auto;
        display: none;

    }
    #iconseach{
        display: inline-block;
        margin-left: 3px;
        margin-right: 5px;
    }
    #cssmenu {
        top: 59px;
    }
    .search1 {

        margin-top: 0;
    }
    .search1 form {

      width: 100%;
    }

    a.report-error {
        margin-top: 10px;
        padding: 0 11px !important;
        margin-left: 10px !important;
    }

    a.menu_show_list {
        margin-left: 10px;
    }

    a.iconfacebook, a.icongoogleplus {
        vertical-align: baseline;
        font-size: 22px;
    }

    div.stars {
        text-align: center;
    }
    .startitle {
        left: 0;
    }
    h1.mobile-title {
        font-size: 18px !important;
        font-weight: bold;
    }


}
@media (min-width: 501px) and (max-width: 1024px) {
    .menu-static ul li {
        display: inline-block;
        width: auto;
        padding-left: 35px;
        padding-right: 12px;
    }

    .search form {
        width: auto;
        display: none;

    }
    #iconseach{
        display: inline-block;
        margin-left: 3px;
        margin-right: 5px;
    }
    a.iconfacebook, a.icongoogleplus {
        vertical-align: baseline;
    }
    .menu-static ul li {
        padding-left: 15px;
    }

}
@media (min-width: 670px) and (max-width: 1024px) {
    .menu-static ul li {
        padding-left: 35px;
    }

}
/*star*/

/*  Second Example with big stars */
.rate-ex2-cnt {
    width:150px;
    height: 30px;
}
.rate-ex2-cnt .rate-btn {
    width: 30px;
    height:30px;
    float: left;
    background: url(../images/rate-btn2.png) no-repeat;
    cursor: pointer;
}
.rate-ex2-cnt .rate-btn:hover, .rate-ex2-cnt  .rate-btn-hover, .rate-ex2-cnt  .rate-btn-active {

    background: url(../images/rate-btn2-hover.png) no-repeat;
}
/* End second Example with big stars */

/* rate result */
.rate-result-cnt {
    height: 18px;
    margin-bottom: 8px;
    margin-left: 10px;
    margin-top: 5px;
    position: relative;
    vertical-align: middle;
    width: 82px;
}

.rate-stars {
    width: 82px;
    height: 18px;
    background: url(../images/rate-stars.png) no-repeat;
    position: absolute;
}
.rate-bg {
    height: 17px;
    background-color: #ffbe10;
    position: absolute;
}
/*end rate result*/

.startitle {
    position: relative;
    right: -10px;
    top: -3px;
}
div.stars {
    /*text-align: center;*/
    margin-bottom: 15px;
}
div.stars strong {
    position: relative;
    top: -15px;
}
div.stars form {
    display: inline-block;
}

a.report-error {
    border: 2px solid #ed933b;
    border-radius: 5px;
    color: #ed933b;
    display: inline-block;
    font-weight: bold;
    margin-left: 20px;
    padding: 3px 10px;
    position: relative;
    text-decoration: none;
    /*top: 2px;*/
}
input.star { display: none; }

label.star {
  float: right;
  padding: 2px 3px;
  font-size: 24px;
  color: #888;
  margin: 0;
  transition: all .2s;
}

input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
}

input.star-5:checked ~ label.star:before {
  color: #FE7;
}

input.star-1:checked ~ label.star:before { color: #F62; }

label.star:hover { transform: rotate(-15deg) scale(1.3); }

label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}

.game {
    margin-bottom: 15px;
    text-align: center;
}
.game * {
    max-width: 100%;
    height: auto;
}

h1.title {
    border: medium none;
    color: #000;
    display: inline-block;
    font-size: 24px;
    margin-top: 0;
    text-transform: none;
}

.comment .nav-tabs {
    border: 1px solid #2b74a1;
    margin-bottom: 10px;
}
.comment .nav-tabs > li {
    width: 50%;
    margin: 0;
}
.comment .nav-tabs > li > a {
    border: none;
    border-radius: 0;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 10px;
    text-align: center;
    margin: 0;
}
.comment .nav-tabs > li > a:hover {
    border-color: #2b74a1;
}
.comment .nav-tabs > li.active > a,
.comment .nav-tabs > li.active > a:focus,
.comment .nav-tabs > li.active > a:hover {
    background: #2b74a1 none repeat scroll 0 0;
    border: none;
    color: #fff;
}
/*seach*/

/*trang tai ve*/
.imgGamedowload,
.slideGame {
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: left;
}
.imgGamedowload img,
.slideGame img {
    width: 100%;
    max-width: 100%;
    height: auto;
}
.imgGameContentdowload{
    width: 50%;
    display: inline-block;
}
.img_game_detail{

}
.img_game_detail img{
        margin-right: 24px;
}
.imgGame img{
    width: 76%;
    max-width: 100%;
    height: auto;
}
@media (max-width: 767px) {
	.imgGame img{
		width: auto;
	}
	.imgGamedowload img,
    .slideGame img {
		 width: auto;
	}
	.col {
		font-size:11px;
		padding-left: 15px;
	}
	.col img {
		width: 77px;
	}

}
.table_container{
     display: table;
     width:90%;
     border-collapse: collapse;
    }
.heading{
     font-weight: bold;
     display:table-row;
     background-color:#C91622;
     text-align: center;
     line-height: 25px;
     font-size: 14px;
     font-family:georgia;
     color:#fff;
  }
.table-row{
      display:table-row;
      text-align: left;
  }
.col{
 	display:table-cell;
  	border: 0px solid #CCC;
	vertical-align: top;
	padding-left:20px;
}
@media (max-width: 480px) {
    .row {
        margin-right: -10px;
        margin-left: -10px;
    }
}

/*trang chi tiet game tai ve*/
.web_avatar {
    width: 15%;
    padding: 0 15px;
    display: inline-block;
    vertical-align: top;
}
.web_title {
    width: 83%;
    padding: 0 15px 0 0;
    vertical-align: top;
    display: inline-block;
}
.detail {
    margin-top: 15px;
    margin-bottom: 15px;
}
.detail img,
.detail table {
    max-width: 100%;
    height: auto;
}
.center {
    text-align: center;
}
.adsense {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
.adsense img {
    height: auto;
    max-width: 100%;
}

.homenews {
    color: #727272;
    font-size: 14px;
    font-weight: bold;
}

@media (max-width: 400px) {
    .col-xs-6 {
        padding-left: 5px;
        padding-right: 5px;
    }
    .item {
        margin-bottom: 10px;
    }
}